body{
  background-color: #B2E5DC;

}

h1{
  color: #d37c76;
  font-family: arial;
}

.App {
  width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: right;
  padding: 100px;
}

.Add_form input,
.Add_form button,
.Refresh {
  padding: 5px;
  border: 0;
  outline: 0;
  font-size: 17px;
}

.Add_form input {
  background: #e1e1e2;
}

.Add_form button,
.Refresh {
  background: rgb(23, 67, 117);
  color: white;
}

.list {
  padding: 20px 0;
}

.list > div {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.list > div:last-child {
  border-bottom: 0;
}

.done {
  text-decoration: line-through;
}
